/* reset */

* {
margin: 0;
padding: 0;
}


/* header */
#my-header {
  width: 100%;
  background-color: gainsboro;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#my-header h1 {
  display: inline-flex;
  font-size: 48pt;
  font-weight: bold;
}

#my-navbar {
  width: 100%;
  background-color: lightblue;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#my-navbar nav {
  display: flex;
  justify-content: center;
}

#my-navbar .navbar-btn {
  display: flex;
  text-decoration: none;
  font-size: 14pt;
  padding: 0 16px;
  min-width: 120px;
  color: darkblue;
  font-weight: bold;
}

#my-navbar .navbar-btn:hover {
  cursor: pointer;
  transition: 0.25s all;
  background-color: darkblue;
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  min-height: 60vh;
}

#about {
  padding: 16px 32px;
  background-color: #eee;
  width: 25%;
}

#main-iframe {
  width: 70%;
  padding: 16px 32px;
}

#my-footer {
  width: 100%;
  height: 72px;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}
#my-footer span {
  font-size: large;
}